@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Gloria+Hallelujah');

.header {
  height: 100px;
  width: 100%;
}

.logo {
  display: inline;
  margin: 10px;
  font-size: 40px;
  float: left;
}

.navBar {
  display: inline;
  margin-right: 15px;
  margin-top: 30px;
  float: right;
}

.image-holder {
  padding-top: 30px;
  margin-bottom: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid;
  border-radius: 3px;
  width: 90%;
  height: 45vw;
}

.day-item {
  width: 185%;
  height: 185%;
  margin-top: 10px;
}

.main-img {
  height: 140px;
}

.lower-holder {
  margin-top: 20px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid;
  border-radius: 3px;
  width: 90%;
  height: 94vh;
}

.lower-right {
  height: 95%;
  width: 30%;
  border: 1px solid;
  border-radius: 3px;
}

.lower-left {
  height: 95%;
  width: 40%;
  margin-right: 20%;
  border: 1px solid;
  border-radius: 3px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin: 5px;
}

ul {
  text-align: center;
  display: block;
  width: 25%;
  float: left;
}

.rankings {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
}

.rank {
  font-size: 2vw;
  padding-bottom: 10px;
  text-decoration: underline;
}

.leaderboard {
  font-size: 3vw;
  margin: 15px;
}
