@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.top-holder {
  box-shadow: 6px 9px 28px -6px rgba(0,0,0,0.63);
  background-color: rgb(203, 238, 251);
  margin-top: 20px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border: 1px solid;
  border-radius: 3px;
  width: 90%;
}

.profile-img {
  box-shadow: 6px 9px 28px -6px rgba(0,0,0,0.63);
  width: 200px;
  height: 200px;
}

.funny {
  font-family: 'Luckiest Guy', cursive;
}

.stats {
  display: flex;
}

ul {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
 .img {
  margin-left: 30px;
}

.saying {
  margin: 30px;
}

.events {
  margin-left: 20px;
  text-decoration: underline;
  margin-bottom: 10px;
  text-align: left;
}

li {
  font-family: 'Luckiest Guy', cursive;
  font-size: 22px;
  margin-bottom: 5px;
}
