.modal {
  margin: 20vw;
  font-size: 30px;
  text-align: center;
  color: white;
}

.name {
  width: 45%;
  margin-bottom: 20px;
  display: block;
  height: 30px;
  margin-top: 40px;
  margin: 0 auto;
}

.password {
  width: 45%;
  margin-bottom: 15px;
  display: block;
  height: 30px;
  margin-top: 40px;
  margin: 0 auto;
}

.btn-in {
  margin-right: 10px;
  text-transform: capitalize;
  background: white;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 12px;
}

.btn-up {
  margin-right: 10px;
  text-transform: capitalize;
  background: white;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 12px;
}

.invis {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
}
